<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ name }}'s Blog</title>
</head>
<body>
    <h2>{{ name }}'s Blog</h2>
    <p>{{ friends|length }} Friends</p>
    <ul>
        {% for friend in friends %}
        <li>{{ friend }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"><br>
        <label for="message">message</label>
        <input type="text" name="message" id="message"<br>
        <input class="btn" type="submit" name="submit" value="Submit">
    </form>
    <img src="{{ url_for('static', filename="/animals/hound.jpg")}}">

</body>
</html>